body {
    margin:0;
    padding:0;
    overflow:hidden;
}

canvas {
    display:block;
    position: absolute;
}

.main {
    position: relative;
}

.toolbar {
    border: 1px solid grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-family: monospace;
}

.statusline {
    border: 1px solid grey;
    position: fixed;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-family: monospace;
}

#hiddenInput {
    position: fixed;
}